.backButton {
    display: flex;
    justify-content: space-around;
}

.details {
    display: flex;
}

.title{
    font-size: 25;
}

.avatar{
    padding: 10px;
}

.MuiTabs-flexContainer {
    display: flex;
    justify-content: space-around;
}